@tailwind base;
@tailwind utilities;

html,
body,
#root {
  background-color: #0e1012;
  color: #a6a7a7;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

.link {
  color: #2424e2;
  text-decoration: underline;
}
